@import "./main.css";

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background-color: #000;
}

h1 {
    color: whitesmoke;
    margin: 10px;
    background-color: darkgrey;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}

.topnav {
    height: 20px;
    background-color: red;
}

body {
    font-size: 25px;
    color: blue;
}
